
.favors_table td, .favors_table th {
    padding-top: 3px;
    padding-bottom: 2px;
    font-weight: 100;
    width: 236px;
    text-align: center;
}
.favors_table th{
    font-weight: bold;
}
.left {
    float: left;
    padding-top: 0px;
}

.right {
    float: right;
    padding-top: 0px;
}

.padding_top {
    padding-top: 45px;
}

.white_box h4 {
    text-align: center;
    margin-top: 11%;
}
.white_box h3 {
    margin-top: 0px;
}
.white_box {
    padding: 20px;
    background-color: white;
    height: 212px;
    margin: 23px;
    margin-left: 54px;
    margin-right: 53px;
    width: 42%;
    float: left;
    border-radius: 24px;
    overflow: auto;
    box-shadow: 7px 7px 7px grey;
}

table {
    color: inherit;
    display: inherit;
}

#register_button:hover {
    background-color: #61D884;
}

button#login_button {
    background-color: #3b5998
}

#login_button:hover {
    background-color: #5174BD;
}

.outer_box {
    width: 470px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 15px;
    height: 400px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    background-color: #dfe2db;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1 {
    margin: 0 0 5px 0;
    text-align: center;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 12px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 10px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

button, #cancel_button {
    cursor: pointer;
    padding: 14px 40px 14px 40px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0px;
}

fieldset {
    margin-bottom: 10px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {
    form {
        max-width: 480px;
    }
}